<STYLE TYPE="text/css">

HTML {background: lightyellow}

BODY { color: Black;
       background: lightyellow;
       margin-right: 10%;
       margin-left: 10%;
       font-size: medium;
       font-family: "Apple Chancery",cursive;
       text-align: justify }
.header {
    font-size: large;
    font-family: Times New Roman, serif;
}

PRE {  font-size: medium;
       font-family: "Apple Chancery",cursive; }

P {text-indent: 4%;
    background-color: lightyellow;
}

P.noindent {text-indent: 0% }

P.poem {text-indent: 0%;
        margin-left: 10%;
        font-size: small }

P.finis { text-align: center ;
          text-indent: 0% ;
          margin-left: 0% ;
          margin-right: 0% }

img {
    border: 1px solid #ddd;
    border-radius: 50%;
}

</STYLE>
